.header__links{  
    display: flex;
    justify-content: space-between;
    min-width: 77px;
    margin: 18px 0 0 0;
    
}

@media screen and  (max-width: 767px){
    .header__links{
        min-width: 62px;
        margin: 14px 0 0 0;
    } 
}