.lead{
    margin: 0 auto;
    margin-bottom: 92px;  
    color: white;
}

@media screen and (min-width: 1280px){
    .lead{
        max-width: 984px;    
    }
}
@media screen and (min-width: 1024px) and (max-width:1279px){
    .lead{
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){
    .lead{
        max-width: 768px;
        margin-bottom: 88px;
    }
}
@media screen and (min-width:320px) and  (max-width:767px){
    .lead{
        max-width: 320px;
        margin-bottom:64px;
    }
}
