.header__link{
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    transition: opacity 350ms ease;
    text-decoration: none;
}
.header__link:hover{
    opacity: 0.8;
}

@media screen and  (max-width: 767px){
    .header__link{
        font-size: 18px;
        line-height: 20px;
    } 
}